[user]
    name = Alexandre Beaulieu
    email = alex@segfault.me
    signingkey = E3FC7081

[color]
    status = always
    diff = auto
    interactive = auto
    branch = auto

[alias]
    st = status
    co = checkout
    com = commit

[log]
    date = local

[push]
    default = simple

[commit]
    gpgsign = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
