[user]
	name = Alexandre
	email = alex@segfault.me

[color]
	status = auto
	diff = auto
	interactive = auto
	branch = auto

[alias]
	st = status
	co = checkout
	com = commit

[log]
	date = local

[push]
	default = simple