*.jar
.netrwhist
.vim/bundle
.vim/lsp.log
.gdb/__pycache__
__pycache__
.emacs.d/elpa
.emacs.d/settings.el
.emacs.d/bak

# Don't track random and sensitive files
.config
.tmux/plugins


# Allow only actual dotfiles from .config
!.config/awesome
!.config/termite/config
!.gnupg/gpg.conf
!.gnupg/gpg-agent.conf
.gnupg/
