*.jar
.netrwhist
.vim/bundle
.vim/lsp.log
.gdb/__pycache__

# Don't track random and sensitive files
.config

# Allow only actual dotfiles from .config
!.config/awesome
!.config/termite/config
!.gnupg/gpg.conf
!.gnupg/gpg-agent.conf
.gnupg/
