[submodule ".zsh/oh-my-zsh"]
	path = .zsh/oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule ".emacs.d/themes/solarized"]
	path = .emacs.d/themes/solarized
	url = git@github.com:sellout/emacs-color-theme-solarized.git
[submodule ".emacs.d/vendor/ruby-mode"]
	path = .emacs.d/vendor/ruby-mode
	url = git@github.com:qoobaa/ruby-mode.git
[submodule ".emacs.d/vendor/inf-ruby"]
	path = .emacs.d/vendor/inf-ruby
	url = git@github.com:nonsequitur/inf-ruby.git
[submodule ".emacs.d/vendor/rinari"]
	path = .emacs.d/vendor/rinari
	url = git@github.com:eschulte/rinari.git
