# Java stuff
*.jar
.cache

# vim stuff
.netrwhist
.vim/bundle
.vim/lsp.log

# Python stuff
.gdb/__pycache__
__pycache__

# emacs stuff
.emacs.d/elpa
.emacs.d/settings.el
.emacs.d/bak
.emacs.d/recentf
.emacs.d/secrets.el
.emacs.d/auto-save-list
/.emacs.d/eshell/history
/.emacs.d/transient
/.emacs.d/.lsp-*

# Don't track random and sensitive files
.config
.tmux/plugins

# Allow only actual dotfiles from .config
!.config/awesome
!.config/termite/config
!.gnupg/gpg.conf
!.gnupg/gpg-agent.conf
.gnupg/
