! X11 Generic Things
Xcursor.theme: whiteglass
Xcursor.size:  22
xterm*termName: xterm-256color
xterm*locale: true

! Font stuff
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight
URxvt*font: xft:Droid Sans Mono:size=10, \
            xft:DejaVu Sans Mono:size=10

URxvt.urgentOnBell: true
URxvt.scrollBar: false
URxvt.scrollTtyOutput: true
URxvt.scrollLines: 2000
URxvt.letterSpace: -2

! Open links
URxvt.perl-ext-common: default,matcher
URxvt.urlLauncher: chromium
URxvt.matcher.button: 1


! Color theme
! #include ".xresources.d/solarized/solarized"
! special
*.foreground:   #f1f1f1
*.background:   #121212
*.cursorColor:  #f1f1f1

! black
*.color0:       #2c2f34
*.color8:       #3b434d

! red
*.color1:       #c3425e
*.color9:       #e26b85

! green
*.color2:       #abc944
*.color10:      #ceea6e

! yellow
*.color3:       #ed8c49
*.color11:      #e7a54f

! blue
*.color4:       #49a0e8
*.color12:      #84b5e0

! magenta
*.color5:       #D44BBA
*.color13:      #cd83bf

! cyan
*.color6:       #5ce3d2
*.color14:      #6dc7bb

! white
*.color7:       #adb4bb
*.color15:      #dae6e4

