! X11 Generic Things
Xcursor.theme: whiteglass
Xcursor.size:  22
xterm*termName: xterm
xterm*locale: true

! Font stuff
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight
URxvt*font: xft:SourceCodePro:size=11, \
            xft:NotoSansCJK:size=10, \
            xft:DejaVu:size=11 \
! URxvt.letterSpace: -2

! Color Theme (Dracula) https://github.com/dracula/xresources/blob/master/Xresources
*.foreground: #F8F8F2
*.background: #282A36
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6

! urxvt Settings
URxvt.urgentOnBell: true
URxvt.scrollBar: false
URxvt.scrollTtyOutput: true
URxvt.scrollLines: 2000
URxvt.iso14755: false
URxvt.iso14755_52: false

! Open links
URxvt.perl-ext-common: default,matcher,clipboard
URxvt.urlLauncher: firefox
URxvt.matcher.button: 1

URxvt.clipboard.autocopy: true
URxvt.keysym.S-C-c: perl:clipboard:copy
URxvt.keysym.S-C-v: perl:clipboard:paste
